/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Globales
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.text-center{
    text-align: center;
    color: #243065;
}

html{
    background-color: #d6e6f359;
}

table.highlight > tbody > tr:hover{
    background-color: #9eedfa45;
}

td, th{
    text-align: center;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Navegacion
- - - - - - - - - - - - - - - - - - - - - - - - - - */
nav{
    background: #12111e;
}

nav ul a:hover{
    background-color: #32a0d1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Estilos de Contenedor de operativo 1
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor_tabla_operativo_1{
    display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Estilos de Contenedor de operativo 2
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor_tabla_operativo_2{
    display: none;
}

.cont-tabla2{
    display: none;
}











/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Swicht Btn
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor-swichtBtn{
    width: 100%;
    margin-top: 20px;
}

.swichtBtn__Border{
    border: .5px solid rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 3px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0px auto;
}

.swichtBtn__Border div{
    display: inline-block;
    height: 41px;
    width: 156px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.swichtBtn__Border div p{
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
    height: 39px;
    width: 155px;
    border-radius: 15px;
    border: none;
}

.swichtBtn__Border .active{
    background-color: rgb(78, 167, 154);
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
Contenedor de informacion
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor-informacion{
    width: 100%;
    height: auto;
    margin-top: 30px;
    opacity: 0;
}

.contenedor-btn{
    text-align: end;
    position: fixed;
    right: 30px;
    bottom: 35px;
}

.contenedor-informacion table{
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    margin-top: 15px;
}

.contenedor-informacion table p{
    margin: 0px;
}

.contenedor-informacion table .btn i{
    font-size: 2rem !important;
    line-height: inherit;
}
